body{
  background-color: #377ac0 !important;
  margin: 0;
  padding-bottom: 15px;
  padding-top: 5px;
}
#main-nav ul{
  color: #114a9a;
  display: inline-block;
  list-style-type: none !important;
  margin: 0;
  width: 97.9%;
  overflow-x: hidden;
  background-color: #377ac0;
}
li.nav a{
	text-decoration: none;
	display: block;
	color: #114a9a;
	font-family: "Teko";
	font-size: 60px;
	padding: 10px 50px 0px;
	border-radius: 25px;
  	border: 2px;
  	padding: 20px;
}
li.nav a:hover{
	background-color: #46bae2;
	transition: 0.5s;
	color: #fbda01;
}
li.nav{
	font-family: "Teko";
	display: inline-left;
	float: left;
}
.container{
	position: sticky;
}

h1{
	font-family: "Teko";
	font-size: 60px;
	color: #f6cfe3;
	text-align: center;
}
h2{
	color: #f09a2d;
	font-family: "Teko";
	font-size: 50px;
}
#main-nav {
	display: inline-block;
}
div.jumbotron{
	text-align: center;
	align-content: center;
	background-color:#377ac0;
}
div.members{
	display: flex;
	padding-left: 50px;
	padding-right: 50px;
	flex-wrap: wrap;	
}
div.m1, div.m2, div.m3, div.m4, div.m5, div.m6, div.m7{
	padding: 5px;
}
div.photos{
	display: flex;
	flex-wrap: wrap;
	padding: 50px;
	justify-content: center;
}
img.photos{
	padding: 3px;
}
a{
	text-decoration: none;
	color: #f09a2d;
	font-family: "Teko";
	font-size: 15px;
}
div.con1, div.con2, div.con3, div.con4, div.con5, div.con6, div.con7, div.con8, div.con9, div.con10, div.con11, div.con12, div.con13, div.con14{
	background-color:#f09a2d;
	width: 420px;
	border-radius: 25px;
}
span.dura{
	color: #377ac0;
}
li{
	color: white;
	font-family: "Teko";
	font-size: 25px;
}
li.part{
	font-family: "Teko";
	font-size: 35px;
	color: #fbda01;
}
p.albinfo{
	color: #114a9a;
}
p{
	font-family: "Teko";
	font-size: 35px;
	color: #ffffff;
}
.albums{
	padding-left: 50px;
	padding-bottom: 20px;
}
.albums.button{
	display: flex;
	grid-gap: 10px;
	justify-content: center;
}
.collapsible:hover {
	background-color: #6fc6d1;
	transition: 0.5s;
}
.con1, .con2, .con3, .con4, .con5, .con6, .con7, .con8, .con9, .con10, .con11, .con12, .con13, .con14 {
	padding: 0 18px;
	display: none;
	overflow: hidden;
	background-color: #377ac0;
  }
/* Style the Image Used to Trigger the Modal */
#mem{
	border-radius: 5px;
	cursor: pointer;
	transition: 0.3s;

  }
  #mem:hover{
	  transform: scale(1.02);
  }
  /* The Modal (background) */
  .modal {
	display: none; /* Hidden by default */
	position: fixed; /* Stay in place */
	z-index: 1; /* Sit on top */
	padding-top: 100px; /* Location of the box */
	left: 0;
	top: 0;
	width: 100%; /* Full width */
	height: 100%; /* Full height */
	overflow: auto; /* Enable scroll if needed */
	background-color: #114a9a; /* Fallback color */
	background-color: #114a9ad0; /* Black w/ opacity */
  }
  
  /* Modal Content (Image) */
  .modal-content {
	text-align: center;
	display: block;
  }
  
  /* Caption of Modal Image (Image Text) - Same Width as the Image */
  #meminfo {
	margin: auto;
	display: block;
	width: 80%;
	max-width: 700px;
	text-align: center;
	color: #ccc;
	padding: 10px 0;
	height: 150px;
  }
  
  /* The Close Button */
  .close {
	position: absolute;
	top: 15px;
	right: 35px;
	color: #114a9a;
	font-size: 40px;
	font-weight: bold;
	transition: 0.3s;
  }
  
  .close:hover,
  .close:focus {
	color: #6fc6d1;
	text-decoration: none;
	cursor: pointer;
  }
  
  /* 100% Image Width on Smaller Screens */
  @media only screen and (max-width: 700px){
	.modal-content {
	  width: 100%;
	}
  }
  @media only screen and (max-width: 1500px){
	img.photos{
		max-width: 100%;
	}
  }
div.intro{
	padding: 15px;
	text-align: center;
}
.responsive{
	width:100%;
	height: auto;
}
.responsive1{
	max-width: 80%;
	height: auto;
}
.test{
	background-color: #114a9aa2;
	border-radius: 25px;
}
td{
	color: #4096d3;
	font-family: "Teko";
	font-size: 40px;
	text-align:center;
}
td.title{
	color: #f09a2d;
}
::selection{
	color: #6fc6d1;
	background-color: #f6cfe3;
}
