body{
  background-color: #377ac0;
  margin: 0;
}
ul.nav{
  color: #114a9a;
  display: inline-block;
  list-style-type: none;
  margin: 0;
  width: 97.9%;
  overflow-x: hidden;
  background-color: #377ac0;
}
li.nav a{
	text-decoration: none;
	display: block;
	color: #114a9a;
	font-family: "Teko";
	font-size: 60px;
	padding: 10px 50px 0px;
	border-radius: 25px;
  	border: 2px;
  	padding: 20px;
}
li.nav a:hover{
	background-color: #46bae2;
	transition: 0.5s;
	color: #fbda01;
}
li.nav{
	font-family: "Teko";
	display: inline;
	float: left;
}
.container{
	position: sticky;
}
div.block{
	background-color: #bcecf6;
	padding: 5px;
	margin: 50px;
}
h1{
	font-family: "Teko";
	font-size: 40px;
	color: #f6cfe3;
	text-align: center;
}
h2{
	color: #ffffff;
	font-family: "Teko";
	font-size: 45px;
}
#main-nav {
	display: inline-block;
}
div.jumbotron{
	text-align: center;
	align-content: center;
}
div.members{
	display: grid;
	grid-template-columns: 500px 500px 500px 500px;
	grid-template-rows: 600px;
}
}
img:hover{
	/*Make photos of members zoom*/
}
a{
	text-decoration: none;
	color: #ff8691;
	font-family: "Teko";
	font-size: 15px;
}
p{
	font-family: "Teko";
	font-size: 30px;
	color: #ffffff;
}
@media only screen and (max-width: 900px){
	.members{
		flex-direction: column;
	}
	.members{
		grid-template-areas: 
		"m1"
		"m2"
		"m3"
		"m4"
		"m5"
		"m6"
    "m7";
		flex-direction: column;
	}
}
#BTSCarousel{

}
.albums.button{
	display: inline-grid;
	grid-gap: 10px;
}
.active, .collapsible:hover {
	background-color: #f6c7e3;
}
.con1, .con2, .con3, .con4, .con5, .con6, .con7, .con8, .con9, .con10, .con11, .con12, .con13, .con14 {
	padding: 0 18px;
	display: none;
	overflow: hidden;
	background-color: #377ac0;
  }
.m1, .m2, .m3, .m4, .m5, .m6 ,.m7{
	  transition: transform .2s;
  }
.m1, .m2, .m3, .m4, .m5, .m6 ,.m7:hover{
	transform: scale(1.05);
}
.m2, .m5, .m6, .m7{

}
